<div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-bold text-gray-800">Last Invoices</h2>

    <a href="#" class="text-blue-600 hover:text-blue-500 font-medium">View all</a>
</div>
<div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="w-full whitespace-no-wrap bg-white overflow-hidden table-striped">
        <thead>
            <tr class="text-left">
                <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Invoice</th>
                <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Name</th>
                <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Date</th>
                <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs text-right">Amount</th>
                <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Status</th>
            </tr>
        </thead> 
        <tbody>
            <tr class="focus-within:bg-gray-200 overflow-hidden">
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">#IN12345</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">ABC Company</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">10 Sep 2018</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center justify-end">₹12,000.00</span>
                </td> 
                <td class="border-t">
                    <span class="px-6 py-4 flex items-center">
                        <span class="px-2 rounded-full text-sm uppercase tracking-wide font-semibold bg-green-200 text-green-800">Completed</span>
                    </span>
                </td>
            </tr>

            <tr class="focus-within:bg-gray-200 overflow-hidden">
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">#IN12344</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">XYZ Company</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">8 Sep 2018</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center justify-end">₹10,000.00</span>
                </td> 
                <td class="border-t">
                    <span class="px-6 py-4 flex items-center">
                        <span class="px-2 rounded-full text-sm uppercase tracking-wide font-semibold bg-orange-200 text-orange-800">Pending</span>
                    </span>
                </td>
            </tr>

            <tr class="focus-within:bg-gray-200 overflow-hidden">
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">#IN12343</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">CAC Company</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">7 Sep 2018</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center justify-end">₹10,000.00</span>
                </td> 
                <td class="border-t">
                    <span class="px-6 py-4 flex items-center">
                        <span class="px-2 rounded-full text-sm uppercase tracking-wide font-semibold bg-blue-200 text-blue-800">Processing</span>
                    </span>
                </td>
            </tr>

            <tr class="focus-within:bg-gray-200 overflow-hidden">
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">#IN12345</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">ABC Company</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">10 Sep 2018</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center justify-end">₹12,000.00</span>
                </td> 
                <td class="border-t">
                    <span class="px-6 py-4 flex items-center">
                        <span class="px-2 rounded-full text-sm uppercase tracking-wide font-semibold bg-green-200 text-green-800">Completed</span>
                    </span>
                </td>
            </tr>

            <tr class="focus-within:bg-gray-200 overflow-hidden">
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">#IN12344</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">XYZ Company</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center">8 Sep 2018</span>
                </td> 
                <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center justify-end">₹10,000.00</span>
                </td> 
                <td class="border-t">
                    <span class="px-6 py-4 flex items-center">
                        <span class="px-2 rounded-full text-sm uppercase tracking-wide font-semibold bg-orange-200 text-orange-800">Pending</span>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>