<div class="col-md-6 col-xl-3">
      <!-- Simple card -->
      <div class="card">
          <center><img class="card-img-top img-fluid" style="padding:15px;width: 180px;height: 130px;" src="https://storage.googleapis.com/cirrus-static-assets/zoom_logo.png" alt="Zoom Logo"></center>
          <div class="card-body">
              <div>
                <h4 class="card-title mt-0">Zoom</h4>
              </div>
              <a href="https://sub.mydomain.com/integrations/zoom/import" class="btn btn-primary waves-effect waves-light" style="margin-top:10px;">Connect</a>
          </div>
      </div>
  </div>
