<footer class="footer" style="z-index:9999; background-color:#FFF;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4">
                <center>
                <a href="/terms" class="no-underline text-grey-dark mr-4">Terms</a>
                <a href="/privacy" class="no-underline text-grey-dark mr-4">Privacy</a>
                <a href="/cookies" class="no-underline text-grey-dark">Cookies</a>
                </center>
            </div>

            <div class="col-sm-4">
                <center>
                    <script>document.write(new Date().getFullYear())</script> © MyApp by cielo24
                </center>
            </div>

            <div class="col-sm-4">
                <center>
                    <a href="https://help.mydomain.com" class="inline-block leading-tight bg-blue-no-gradient border border-blue-dark hover:bg-blue-dark px-3 py-2 text-white no-underline rounded">Need help?</a>
                </center>
            </div>
        </div>
    </div>
</footer>
