        <!-- JAVASCRIPT -->
        <script src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/libs/jquery/jquery.min.js"></script>
        <script src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/libs/bootstrap/bootstrap.min.js"></script>
        <script src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/libs/metismenu/metismenu.min.js"></script>
        <script src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/libs/simplebar/simplebar.min.js"></script>
        <script src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/libs/node-waves/node-waves.min.js"></script>

        <!-- App js -->
        <script src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/js/app.min.js"></script>