<header id="page-topbar">
    <div class="navbar-header">
        <div class="container-fluid">
            <div class="float-right">

                <div class="dropdown d-inline-block d-lg-none ml-2">
                    <button type="button" class="btn header-item noti-icon waves-effect"
                        id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="mdi mdi-magnify"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                        aria-labelledby="page-header-search-dropdown">

                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                        aria-label="Recipient's username">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i
                                                class="mdi mdi-magnify"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="dropdown d-none d-sm-inline-block">
                    <button type="button" class="btn header-item waves-effect" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <!-- <img class="" src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/images/flags/us.jpg" alt="Header Language" height="16"> -->
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/images/flags/spain.jpg"
                                alt="user-image" class="mr-1" height="12"> <span class="align-middle">Spanish</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/images/flags/germany.jpg"
                                alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/images/flags/italy.jpg"
                                alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/frontend_assets/images/flags/russia.jpg"
                                alt="user-image" class="mr-1" height="12"> <span class="align-middle">Russian</span>
                        </a>
                    </div>
                </div>

                <div class="dropdown d-none d-lg-inline-block ml-1">
                    <button type="button" class="btn header-item noti-icon waves-effect"
                        onclick="location.href = '/cart-preview';">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect"
                        id="page-header-notifications-dropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-danger badge-pill">1</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                        aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0"> Notifications </h6>
                                </div>
                                <div class="col-auto">
                                    <a href="#!" class="small"> View All</a>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">

                            <a href="" class="text-reset notification-item">
                                <div class="media">
                                    <img src="https://placehold.it/200/200" class="mr-3 rounded-circle avatar-xs"
                                        alt="user-pic">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">Alerts and Notifications</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">Get updates on your orders, payments and actions</p>
                                            <p class="mb-0"><i class="fa fa-clock"></i> Coming Soon</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                            {% for notice in notifications %}
                                <a href="" class="text-reset notification-item">
                                    <div class="media">
                                        <img src="https://placehold.it/200/200" class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-1">{{ notice.verb }} </h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1"> {{ notice.description }} </p>
                                                <p class="mb-0"><i class="fa fa-clock"></i> {{ notice.timesince }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}

                        </div>

                        <div class="p-2 border-top">
                            <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                                View All
                            </a>
                        </div>
                    </div>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="https://placehold.it/200/200"
                            alt="Header Avatar">
                        <span class="d-none d-xl-inline-block ml-1">{{request.user}}</span>
                        <i class="fa fa-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item d-block" href="#"><i
                                class="fa fa-cog font-size-16 align-middle mr-1"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/accounts/logout/"><i
                                class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                    </div>
                </div>

                <!-- <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                        <i class="fa fa-cog"></i>
                    </button>
                </div> -->

            </div>
            <div>
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="/" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/logo.png?lol=tako" alt=""
                                height="80" width="210">
                        </span>
                        <span class="logo-lg">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/logo.png?lol=tako" alt=""
                                height="80" width="210">
                        </span>
                    </a>

                    <a href="/" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/logo.png?lol=tako" alt=""
                                height="80" width="210">
                        </span>
                        <span class="logo-lg">
                            <img src="https://storage.googleapis.com/cirrus-static-assets/logo.png" alt="" height="80"
                                width="210">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-16 header-item toggle-btn waves-effect"
                    id="vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

            </div>

        </div>
    </div>
</header>
