  <div class="col-md-6 col-xl-3">

      <!-- Simple card -->
      <div class="card">
          <img class="card-img-top img-fluid" style="padding:15px;" src="https://storage.googleapis.com/cirrus-static-assets/youtube_logo.png" alt="YouTube Logo">
          <div class="card-body">
              <div>
                <h4 class="card-title mt-0">YouTube</h4>
                <span class="badge badge-success">30% Discount</span>
              </div>
              <a href="/integrations/youtube/authorize" class="btn btn-primary waves-effect waves-light" style="margin-top:10px;">Connect</a>
          </div>
      </div>

  </div>
