{% extends "base.html" %}

{% block title %}
<title>
  Payment Confirmation | MyApp by MyDomain
</title>
{% endblock %}

{% block content %}

<div class="shadow-lg rounded-lg bg-white mx-auto m-8 p-4 notification-box flex w-1/2">
  <div class="pr-2">
    <svg class="fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"
      height="22">
      <path class="heroicon-ui"
        d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </svg>
  </div>
  <div>
    <div class="text-sm text-gray-600  tracking-tight text-center">
      Your payment was successful.

      Your order will begin processing shortly.

      When your order is complete, visit the orders page to download your files.

      If you're using an integration that supports publishing captions, such as YouTube, your output will be published
      to the requesting platform automatically.
    </div>
    <div class="text-sm text-gray-600  tracking-tight ">
      <!-- Transaction ID: {{ transaction_id }} -->
    </div>
  </div>
</div>


<script>
  var urlParams = new URLSearchParams(window.location.search);
  var sessionId = urlParams.get("session_id")
  if (sessionId) {
    fetch("/checkout-session?sessionId=" + sessionId).then(function (result) {
      return result.json()
    }).then(function (session) {
      var sessionJSON = JSON.stringify(session, null, 2);
      document.querySelector("pre").textContent = sessionJSON;
    }).catch(function (err) {
      console.log('Error when fetching Checkout session', err);
    });
  }
</script>
{% endblock content %}