{% extends "base.html" %}

{% block content %}


<div class="shadow-lg rounded-lg bg-white mx-auto m-8 p-4 notification-box flex w-1/2">
    <div class="pr-2">
      <svg
        class="fill-current text-green-600"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="22"
        height="22"
      >
        <path
          class="heroicon-ui"
          d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
        />
      </svg>
    </div>
    <div>
      <div class="text-sm pb-2">
        Presets coming soon
        </span>
      </div>
      <div class="text-sm text-gray-600  tracking-tight text-center">
        <span>
            Presets allow you to define your most commonly used order and return settings. You can also define combinations of add-ons, like rush delivery or Speaker ID, to simplify the ordering process. Please reach out if you need guidance on finding a combination that balances your budget and needs.
        </span>
        <span>
            Sign up for our newsletter to stay up to date on the latest platform updates.
        </span>
      </div>
    </div>
  </div>


{% endblock %}