{% extends "base.html" %}

{% block title %}
<title>
  Settings | MyApp by MyDomain
</title>
{% endblock %}

{% block content %}

<div class="flex flex-col mx-4 md:mx-auto my-8 max-w-xl">
  <div class="bg-white rounded shadow flex flex-row text-center text-gray-800">
    <div @click="activateTab('profile')" class="w-1/2 p-4" :class="[(activeTab === 'profile') ? 'text-white bg-indigo-400 rounded-l' : 'cursor-pointer']">
      {{ 'Profile' }}
    </div>
    <div @click="activateTab('account')" class="w-1/2 p-4" :class="[(activeTab === 'account') ? 'text-white bg-indigo-400 rounded-r' : 'cursor-pointer']">
      {{ 'Account'  }}
    </div>
  </div>

<div class="min-h-screen p-4 bg-gray-200 leading-loose">

  {{ form }}


  <form class="max-w-lg m-4 p-4 bg-white rounded shadow-xl">
    <p class="text-gray-800 font-medium">Billing Information</p>
    <div class="">
      <label class="block text-sm text-gray-600" for="cus_name">Name</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_name" name="cus_name" type="text" required="" placeholder="Your Name" aria-label="Name">
    </div>
    <div class="">
      <label class="block text-sm text-gray-600" for="cus_name">Company</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_name" name="cus_name" type="text" required="" placeholder="Your Company" aria-label="Name">
    </div>
    <div class="mt-2">
      <label class="block text-sm text-gray-600" for="cus_email">Email</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Contact Email" aria-label="Email">
    </div>
    <div class="mt-2">
      <label class=" block text-sm text-gray-600" for="cus_email">Address</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Address" aria-label="Address">
    </div>
    <div class="mt-2">
      <label class="hidden text-sm block text-gray-600" for="cus_email">Address 2</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="address_2" name="cus_email" type="text" required="" placeholder="Address 2" aria-label="Address 2">
    </div>
    <div class="mt-2">
      <label class="hidden text-sm block text-gray-600" for="cus_email">City</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="City" aria-label="Email">
    </div>
    <div class="inline-block mt-2 w-1/2 pr-1">
      <label class="hidden block text-sm text-gray-600" for="cus_email">Country</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Country" aria-label="Email">
    </div>
    <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
      <label class="hidden block text-sm text-gray-600" for="cus_email">Zip</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Zip" aria-label="Email">
    </div>
<center>
    <div class="mt-4">
      <button class="px-4 py-1 text-white font-light tracking-wider bg-orange-500 rounded" type="submit">Save</button>
    </div>
    </center>
  </form>
</div>
</div>


{% endblock %}