<div class="w-full lg:w-1/2 px-4 notification-box">
  <div class="shadow-lg rounded-lg bg-white mx-auto m-8 p-4 notification-box flex w-1/2 w-full lg:w-1/2 px-4">
  <div class="pr-2">
    <svg
      class="fill-current text-green-600"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="22"
      height="22"
    >
      <path
        class="heroicon-ui"
        d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
      />
    </svg>
  </div>
  <div>
    <div class="text-sm pb-2">
      Balances and invoicing coming soon
      </span>
    </div>
    <div class="text-sm text-gray-600  tracking-tight text-center">
      <span>
        Balances allow you to pre-purchase credits and establish fixed budgets. 
        Invoicing will also be available for select customers. 
        If you're a larger organization, reach out about our Enterprise solution trusted by the largest universities and Fortune 500s.
      </span>
      <span>
        Sign up for our newsletter to stay up to date on the latest platform updates.
      </span>
    </div>
  </div>
</div>
  </div>