<div class="w-full lg:w-1/2 px-4">
    <div class="bg-white border-t border-b sm:rounded-lg sm:border shadow">
      <div class="border-b">
        <div class="flex flex-grow justify-between px-6 -mb-px">
          <h3 class="text-blue-dark py-4 font-normal text-lg">Your Balance</h3>
        </div>
      </div>
      <div>
        <div class="text-center px-6 py-4">
          <div class="py-8">
            <div class="mb-4">
            </div>
            <p class="text-2xl text-grey-darker font-medium mb-4">
                
                
                {% if balance > 0.0 %}
                    ${{balance|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}</p>
            
            
            {% if not payment_methods.data %}
                <p class="text-grey max-w-xs mx-auto mb-6">You haven't added any payment methods yet. Click the button below to start!</p>
                <center>
                  <div>
                    <a href="/add-card" class="bg-orange-500 hover:bg-orange-500 text-white border border-blue-dark rounded px-6 py-4">Add Card</a>
                  </div>
                  </center>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>